.div-service {
    max-width: 500px;
}

.div-services {
    padding-bottom: 7%;
}

.services-square {
    border-radius: 1% !important;
}

.title-services {
    font-weight: 900 !important;
    color: darkblue;
    cursor: pointer;
}

.icon-services {
    color: goldenrod;
}

.sub-text-golden {
    color: darkgoldenrod !important;
    font-weight: 700 !important;
}

.icon-subtitle-services-right {
    margin-right: 1%;
    color: cadetblue;
}

.services-contitle {
    color: darkblue;
    font-weight: 900;
    cursor: pointer;
}
