.btn-social-team {
    background-color: #0596a3 !important;
    color: whitesmoke;
    border-radius: 50% !important;
}

.btn-social-team:hover {
    background-color: cadetblue !important;
    color: whitesmoke;
    border-radius: 50% !important;
}
