.a-details {
    text-decoration: none !important;
    cursor: pointer;
}

.detailsContact-icon {
    font-size: larger;
    margin-right: 1%;
    color: gold !important;
    cursor: pointer;
}

.a-details:hover {
    text-decoration: none !important;
    cursor: pointer;
    color: cadetblue !important;
}
