.icon-form-contact {
    color: gold;
    font-size: larger;
    margin-right: 1%;
}

.icon-contact {
    margin-right: 1% !important;
    color: gold;
    cursor: pointer;
}

.title-contact {
    font-weight: 700 !important;
    cursor: pointer;
}

.subtitle-contact {
    font-weight: 600 !important;
    cursor: pointer;
}
