.logoFooter {
    text-decoration: none;
    color: goldenrod !important;
}

.logoFooter:hover {
    text-decoration: none;
    color: cadetblue !important;
}

.logoFooterItem {
    font-weight: 900 !important;
}
