.mapLinkSite {
    color: whitesmoke !important;
    text-decoration: none;
}

.mapLinkSite:hover {
    color: cadetblue !important;
    text-decoration: none;
}

#iconMenuSelection {
    color: goldenrod;
}
