.bg-abouthome {
    background-color: #0e131f;
}

.text-about-home {
    font-weight: 700;
}

#icon-advatanje-home {
    color: gold;
}

#imgAboutHome {
    width: 500px;
    cursor: pointer;
}

.btn-about-home {
    border-color: goldenrod !important;
    color: aliceblue !important;
}

.btn-about-home:hover {
    border-color: whitesmoke !important;
    color: goldenrod !important;
}
