.icon-warning {
    color: whitesmoke !important;
    font-weight: 800 !important;
    font-size: 230px;
    cursor: pointer;
}

.text-error {
    font-weight: 900 !important;
}

.iconErr {
    margin-right: 5px;
    color: gold;
    font-weight: 700;
    font-size: larger;
}

.text-err-page {
    font-weight: 800;
}

.button404 {
    border-color: goldenrod !important;
    color: whitesmoke !important;
}

.button404:hover {
    border-color: whitesmoke !important;
    color: goldenrod !important;
}
