.detailsAdress {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}

.detailsAdress:hover {
    text-decoration: none;
    color: cadetblue;
    cursor: pointer;
}

.link-title {
    cursor: pointer;
}
