.title-faqs-section {
    max-width: 500px;
}

.title-faqs {
    font-weight: 800 !important;
}

.icon-faqs {
    font-size: 48px !important;
    margin-right: 3% !important;
    color: gold;
    font-weight: 700;
}

.sub-text {
    font-weight: 800 !important;
}
