.textarea-form {
    height: 150px !important;
    resize: none;
}

.btn-gold-submit {
    border-color: goldenrod !important;
    color: whitesmoke !important;
}

.btn-gold-submit:hover {
    border-color: whitesmoke !important;
    color: goldenrod !important;
}
