#iconFact {
    font-size: 120px !important;
    cursor: pointer;
    color: goldenrod;
}

#iconFact:hover {
    cursor: pointer;
    color: cadetblue;
}

#text-transations {
    font-weight: 700 !important;
    color: darkolivegreen;
    cursor: pointer;
}

#text-transations:hover {
    font-weight: 700 !important;
    color: cadetblue;
    cursor: pointer;
}

#text-transations-number {
    font-weight: 600 !important;
    color: darkslategray;
    cursor: pointer;
}
